.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
  background-color: black;
}

.navPanels{
  font-size: 20px;
}

.navTitles{
  font-size: 30px;
}